// Helpers
@import "../../../../styles/global/helpers.scss";


.filter {
    display: none;
    flex-wrap: wrap;
    max-width: 100%;

    @include tablet() {
        display: flex;
        max-width: 52rem;
    }

    @include desktop() {
        display: flex;
        max-width: 66rem;
    }
}
