// Helpers
@import "../../../styles/helpers.scss";

.filter {
    display: block;
    width: 16rem;

    @include tablet() {
        display: none;
    }

    &__tags{
        max-width: 100%;
    }
}
